---
import "../css/main.css";
import HamburgerMenu from "../components/HamburgerMenu.astro";
import MainPage from "../components/MainPage.astro";
import { MarqueeComponent } from "../components/MarqueeCustomers";
import PhotosCarousel from "../components/PhotosCarousel.astro";
import TopRightButton from "../components/TopRightButton.astro";

import { RxHamburgerMenu } from "react-icons/rx/index";
---

<MainPage>
  <TopRightButton ReactIcon={RxHamburgerMenu} color="white" />
  <HamburgerMenu />
  <section id="inicio" class="relative">
    <img
      src={`${import.meta.env.BASE_URL}/landing-page-computadora-sinlogo.jpg`}
      class="absolute w-screen h-[115vh] object-cover object-[50%,80%] -z-10 hidden sm:block"
    />
    <img
      src={`${import.meta.env.BASE_URL}/landing-page-sinlogo.jpg`}
      class="absolute w-screen h-[115vh] object-cover object-[50%,50%] -z-10 sm:hidden"
    />
    <div class="h-[115vh] flex flex-col items-center justify-between">
      <a href={`${import.meta.env.BASE_URL}/`}>
        <img
          src={`${import.meta.env.BASE_URL}/sebastiancastrorajbephotography-white.svg`}
          class="w-64 mt-32 md:mt-24"
          alt="Logo de la empresa"
        />
      </a>
      <h2 class="text-5xl sm:text-7xl text-white poppins-semibold">
        6 años de experiencia
      </h2>
    </div>
    <!-- <div class="flex w-full gap-10 justify-right pb-28 pt-10 px-20">
      <div class="w-1/2 p-10 rounded-3xl text-right">
        <h2 class="text-3xl poppins-semibold mb-5">Mi nombre es...</h2>
        
        <p class="text-xl">
          Con experiencia en marketing y
          producción de contenido para redes sociales de grandes marcas en el
          territorio nacional.
        </p>
      </div>
    </div> -->
  </section>
  <!-- <section class="text-center pb-10 bg-black">
    <h2 class="text-5xl sm:text-7xl text-white poppins-semibold">
      6 años de experiencia
    </h2>
  </section> -->
  <section class="bg-[linear-gradient(148deg,black_55%,white_55%)]">
    <div class="p-10 pt-15 sm:p-20">
      <video
        controls
        muted
        autoplay
        src={`${import.meta.env.BASE_URL}/corollacross.mp4`}
        class="w-full rounded hidden sm:block"></video>
        {/* rounded-3xl */}

      <video
        controls
        muted
        autoplay
        src={`${import.meta.env.BASE_URL}/corollacrossvertical.mp4`}
        class="w-full rounded sm:hidden"></video>
        {/* rounded-3xl */}
    </div>
    <PhotosCarousel />
  </section>
  <section
    class="m-auto flex gap-5 justify-evenly flex-wrap items-center my-10"
  >
    <MarqueeComponent
      logosTop={[
        {
          src: `${import.meta.env.BASE_URL}/toyota-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
          href: `${import.meta.env.BASE_URL}/toyota`,
        },
        {
          src: `${import.meta.env.BASE_URL}/cubitt-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-4 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/hps-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/zusset-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/thegrip-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/rho-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/melao-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/iberia-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/0calorias-banner-logo-black.svg`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
        {
          src: `${import.meta.env.BASE_URL}/papelon-banner-logo-black.png`,
          class:
            "w-54 h-24 px-7 py-3 cursor-pointer hover:scale-110 transition duration-300",
        },
      ]}
    />
  </section>
  
</MainPage>
