---
const currentYear = new Date().getFullYear();
---

<div
  class="relative overflow-clip bottom-0 pt-[30px] leading-[20px] box-border border-t-[1px] border-black border-solid bg-black text-neutral-100"
>
  <img
    src={`${import.meta.env.BASE_URL}/sebastiancastrorajbephotography-square-logo-white.svg`}
    class="absolute -right-48 -top-12 opacity-5 w-[40rem] z-0" />
  <img
    src={`${import.meta.env.BASE_URL}/sebastiancastrorajbephotography-square-logo-white.svg`}
    class="absolute -left-64 -bottom-52 opacity-5 w-[30rem] z-0" />
  <footer>
    <div
      class="tiny:w-[90%] m-auto flex flex-wrap items-start justify-between px-6 tiny:px-0"
    >
      <div class="pt-[10px] md:pr-[40px] basis-full md:basis-1/2 z-10">
        <img src={`${import.meta.env.BASE_URL}/sebastiancastrorajbephotography-logo-large-white.svg`} class="w-[30rem] mb-2" />
        <div class="flex flex-col gap-4">
          <a href="https://www.linkedin.com/in/sebastiancastrorajbe" target="_blank">
            <div class="flex items-center ps-5">
              <img
                src={`${import.meta.env.BASE_URL}/footer_social_linkedin.svg`}
                class="w-9 h-9"
              />
              <p class="pl-5 text-sm">
                @sebastiancastrorajbe
              </p>
            </div>
          </a>
          <a href="https://www.instagram.com/sebastiancastrorajbephotos" target="_blank">
            <div class="flex items-center ps-5">
              <img
                src={`${import.meta.env.BASE_URL}/footer_social_instagram.svg`}
                class="w-9 h-9"
              />
              <p class="pl-5 text-sm">
                @sebastiancastrorajbephotos
              </p>
            </div>
          </a>
          <a href="https://wa.me/584241742700" target="_blank">
            <div class="flex items-center ps-5">
              <img
                src={`${import.meta.env.BASE_URL}/footer_social_whatsapp.svg`}
                class="w-9 h-9"
              />
              <p class="pl-5 text-sm">
                +58 424-1742700
              </p>
            </div>
          </a>
        </div>
      </div>
      <ul class="flex flex-col justify-center items-end text-2xl tiny:w-fit mb-[20px] p-[10px] basis-full md:basis-1/2 z-10">
        {/* Inicio */}
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/inicio`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Inicio</span>
            </div>
          </a>
        </li>

        {/* Marcas */}
        <li class="my-3"></li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/toyota`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Toyota</span>
            </div>
          </a>
        </li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/cubitt`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Cubitt</span>
            </div>
          </a>
        </li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/hps`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>HPS</span>
            </div>
          </a>
        </li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/zusset`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Zusset</span>
            </div>
          </a>
        </li>

        {/* Top */}
        <li class="my-3"></li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/top/videos`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Top Vídeos</span>
            </div>
          </a>
        </li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/top/fotos`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Top Fotos</span>
            </div>
          </a>
        </li>

        {/* Yo */}
        <li class="my-3"></li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/acerca`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Sobre mí</span>
            </div>
          </a>
        </li>
        <li class="my-1">
          <a
            href={`${import.meta.env.BASE_URL}/contacto`}
            class="text-xl lg:text-2xl hover:text-gray-300 hover:transition-all duration-300 m-0"
          >
            <div class="flex items-center">
              <!-- <span class="pe-3"><IoSearchOutline /></span> -->
              <span>Contacto</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="w-full h-auto py-[20px]">
      <div class="mx-auto w-[90vw] border-t-2 border-neutral-400 pb-5" />
      <p class="text-center pb-8">
        © <span id="current_year">{currentYear.toString()}</span> Sebastián Castro Rajbe Photography | <a
          href="https://c2developergroup.com"
          class="hover:text-neutral-400 transition duration-300 underline"
          >Desarrollado por C² Developer Group</a
        >
      </p>
    </div>
  </footer>
</div>
<script>
  const currentYear = new Date().getFullYear().toString();
  document.getElementById("current_year")!!.innerText = currentYear;
</script>
