---
import { FaBars } from "react-icons/fa/index";
import { IoBagOutline } from "react-icons/io5/index";

interface Props {
  invisible?: boolean;
}

const { invisible = false } = Astro.props;
const idPrefix = invisible ? "invisible-" : "";
const headerClassPrefix = invisible ? "invisible" : "fixed";
---

<header
  class={`${headerClassPrefix} border-b border-black flex justify-between items-center z-[100] w-[100vw] py-3 font-serif text-black bg-white top-0 left-0 transition duration-300`}
>
  <div
    id={`--melao-${idPrefix}navbar-hamburger`}
    class="mx-3 flex justify-center items-center justify-self-start w-10 h-10 text-2xl rounded-full cursor-pointer"
  >
    <FaBars />
  </div>
  <a href={`${import.meta.env.BASE_URL}/`}>
    <img src={`${import.meta.env.BASE_URL}/sebasphotographysquarelogoblack.png`} class="h-20 my-3 cursor-pointer" />
  </a>
  <nav
    id={`--melao-${idPrefix}navbar-nav`}
    class="navbar-home mr-4 lg:mr-16 invisible"
  >
    <ul class="mx-5 flex items-center">
      <li class="my-2.5 text-lg py-1 text-transparent">
        <IoBagOutline />
      </li>
    </ul>
  </nav>
</header>
